:root {
    --white: #ffffff;
    --gray1: #f4f4f8;
    --gray2: #e6e6ea;
    --gray3: #b1b1b4;
    --gray4: #969699;
    --gray5: #737375;
    --gray6: #4f4f50;
    --gray7: #39393a;
    --gray8: #232324;
    --gray9: #141414;
    --black: #000000;

    --blue1: #44e5e7;
    --blue2: #01b5f1;
    --blue3: #0094c6;
    --blue4: #1e669c;
    --blue5: #2a4a63;
    --blue6: #b8cbd1;
    --blue7: #64838d;
    --blue8: #4c636b;
    --blue9: #90c2d3;
    --blue10: #013658;

    --link1: #00e1ff;
    --link2: #0099ff;
    --link3: #0082d8;
    --link4: #0069af;
    --link5: #004b7c;

    --orange1: #ff9068;
    --orange2: #ff6c00;
    --orange3: #d45628;
    --orange4: #b1461f;
    --orange5: #8f3717;
    --orange6: #61230c;

    --red1: #ff0000;
    --red2: #cc0000;
    --red3: #910000;

    --green1: #00ff00;
    --green2: #00ca00;
    --green3: #009900;
    --green4: #007200;

    --purple1: #ff00ff;
    --purple2: #c51cc5;
    --purple3: #ad34ad;
    --purple4: #864186;
    --purple5: #703970;
    --purple6: #493149;
    --purple7: #504253;
    --purple8: #4f2c57;
}

.light-theme {
    --bg: var(--white);
    --card: var(--white);
    --card-border: rgb(91, 174, 177);
    --shadow: var(--gray2);
    --text: var(--black);
    --text-link: var(--link5);
    --text-player-number: blue;
    --text-lfm-number: var(--orange3);
    --text-disabled: var(--gray3);

    --red-text: var(--red1);
    --green-text: var(--green2);
    --blue-text: rgb(0, 47, 255);

    --table-odd-rows: var(--gray2);

    --link-icon-invert: 100%;
    --link-icon-inverted: 0%;
    --expandable-gradient: 255, 255, 255;

    --server-nav-bar: var(--blue6);
    --server-nav-bar-hover: var(--blue3);
    --server-nav-bar-active: var(--blue4);
    --server-nav-bar-active-text: var(--white);
    --server-nav-bar-text: var(--black);

    --nav-bar: var(--gray7);
    --nav-bar-hover: var(--blue5);
    --nav-bar-active: var(--blue4);

    --filter-bar: var(--blue6);
    --filter-bar-sub: var(--blue9);
    --filter-bar-hover: var(--blue9);
    --filter-bar-active: var(--blue3);

    --mini-group: var(--gray1);
    --mini-group-hover: var(--blue6);

    --slider-handle: #bb7900;
    --slider-track: #ed9a00;
    --slider-rail: #999999;
}

.dark-theme {
    --bg: var(--black);
    --card: var(--gray8);
    --card-darker: var(--gray9);
    --card-border: var(--purple4);
    --shadow: var(--gray5);
    --text: var(--white);
    --text-link: var(--link1);
    --text-player-number: var(--blue2);
    --text-lfm-number: var(--orange2);
    --text-disabled: var(--gray4);

    --red-text: var(--red1);
    --green-text: var(--green1);
    --blue-text: #0af;

    --table-odd-rows: var(--gray7);

    --link-icon-invert: 0%;
    --link-icon-inverted: 100%;
    --expandable-gradient: 0, 0, 0;

    --server-nav-bar: var(--blue5);
    --server-nav-bar-hover: var(--blue4);
    --server-nav-bar-active: var(--blue9);
    --server-nav-bar-active-text: var(--black);
    --server-nav-bar-text: var(--white);

    --nav-bar: var(--gray7); /*gray7*/
    --nav-bar-hover: var(--purple6);
    --nav-bar-active: var(--purple5);

    --filter-bar: var(--purple7);
    --filter-bar-sub: var(--purple8);
    --filter-bar-hover: var(--purple8);
    --filter-bar-active: var(--orange4);

    --mini-group: var(--gray7);
    --mini-group-hover: var(--purple8);

    --slider-handle: #bb7900;
    --slider-track: #ed9a00;
    --slider-rail: #999999;
}

a {
    color: var(--text-link);
}

/* Body */
body {
    font-family: "Times New Roman", Times, serif;
    background-color: var(--bg);
    transition: background-color 500ms ease-in-out, color 1000ms ease-in-out;
}

@media (max-width: 600px) {
    body {
        background-color: var(--card);
    }
}
/* (end) Body*/

p {
    line-height: normal;
    font-size: large;
}

ul {
    line-height: normal;
    font-size: large;
}

/* Home page split card container */
.home-card-splitter {
    display: flex;
    flex-direction: row;
}

.home-card-splitter-pane1 {
    flex: 1;
    /* margin-right: 15px;
    padding-top: 20px; */
    margin-left: 10px;
    margin-right: 10px;
}

.home-card-splitter-pane2 {
    flex: 4;
}

@media (max-width: 1600px) {
    .home-card-splitter {
        flex-direction: column;
    }

    .home-card-splitter-pane1 {
        /* width: 100%; */
        margin-right: 0px;
        padding-top: 20px;
    }
}
/* (end) Home page split card container */

/* Card class */
.card {
    background-color: var(--card);
    box-shadow: 0px 0px 12px 0px var(--card-border);
    border-color: var(--card-border);
    color: var(--text);
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 15px;
    overflow: hidden;
    transition: background-color 500ms, color 1000ms;
}

.card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    opacity: 0.7;
    right: 10px;
    padding: 5px 5px 5px 5px;
    line-height: 20px;
}
.card-link:hover {
    opacity: 1;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .card {
        padding: 5px 0px 5px 0px;
        box-shadow: none;
        border-radius: 0px;
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-width: 2px;
        border-color: white;
    }

    .report-issue-form {
        padding: 10px 20px 10px 20px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 100% !important;
        border-bottom: none !important;
        height: 100%;
    }
}
/* (end) Card class */

/* Banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-weight: bolder;
    font-family: "Times New Roman", Times, serif;
}

@media (max-width: 600px) {
    .banner {
        display: none !important;
    }
}
/* (end) Banner */

.population-number {
    color: var(--text-player-number);
}

.lfm-number {
    color: var(--text-lfm-number);
}

.content {
    padding: 10px 0px 0px 0px;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.footer {
    width: 100%;
    color: white;
    background-color: #333;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-top: 4px;
    padding-bottom: 6px;
}

.red-text {
    color: var(--red-text);
}

.green-text {
    color: var(--green-text);
}

.blue-text {
    color: var(--blue-text);
}

.tile-description {
    font-size: large;
}

.trend-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.chart-filter {
    background-color: var(--filter-bar);
    display: flex;
    flex-direction: row;
}

.chart-filter-banner {
    background-color: var(--filter-bar);
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: none;
}

.chart-filter-header {
    display: flex;
    align-items: center;
    padding: 7px 10px 7px 10px;
    cursor: auto;
    /* width: 85px; */
}

.chart-filter-item {
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
}

.filter-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    float: left;
    display: none;
    /* transform: translateY(1.9rem); */
    background-color: var(--filter-bar);
    z-index: 2;
    padding: 5px;
    box-shadow: 0px 0px 4px 2px var(--card-border);
}

.filter-subitem {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 5px 22px 5px 7px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 300ms;
}

.filter-subitem:hover {
    background-color: var(--nav-bar-hover);
}

.chart-filter-item:hover .filter-dropdown {
    display: flex;
}

.chart-filter-item.active {
    background-color: var(--filter-bar-active);
}

.chart-filter-item:hover {
    background-color: var(--filter-bar-hover);
}

.chart-filterable {
    border: var(--filter-bar);
    border-style: solid;
    border-top-style: none;
    padding: 10px 0px 0px 0px;
}

.chart-action-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.chart-action-bar-item {
    padding-left: 10px;
    padding-right: 10px;
}

.blue-link {
    color: var(--text-link);
    text-decoration: underline;
    cursor: pointer;
}

.chart-action-bar-item.blue-link {
    opacity: 0.7;
}

.chart-action-bar-item.blue-link:hover {
    opacity: 1;
}

.area-line-tooltip {
    background-color: rgba(34, 34, 34, 0.8);
    color: white;
}

.area-line-tooltip tr {
    border-color: #ccc;
    border: solid;
    border-width: 1px;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
}

.report-issue-form {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    max-width: 800px;
    width: 95%;
    /*height: 200px;*/
    z-index: 100;
}

input[type="checkbox"] {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    padding: 10px;
}

input[type="radio"] {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    padding: 10px;
}

.large-label {
    font-size: larger;
    margin-bottom: 0px;
}

.server-status-indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.p-indented {
    margin-left: 40px;
}

.header-bold {
    font-weight: bold;
}

.theme-icon {
    transform: rotate(0deg);
    transition: transform 200ms;
}

.theme-container:hover > .theme-icon {
    transform: rotate(45deg);
}

.theme-container {
    opacity: 0.7;
}

.theme-container:hover {
    opacity: 1;
}

.link-icon {
    filter: invert(var(--link-icon-invert));
}

.link-icon-inverted {
    filter: invert(var(--link-icon-inverted));
}

.expandable-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: pointer;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 10%,
        rgba(var(--expandable-gradient), 1) 85%,
        rgba(var(--expandable-gradient), 1) 100%
    );
}

.server-nav-bar {
    background-color: var(--server-nav-bar);
    color: var(--server-nav-bar-text);
    margin-bottom: 10px;
}

.server-nav-item {
    display: "flex";
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    transition: background-color 200ms;
}

.server-nav-item.active {
    background-color: var(--server-nav-bar-active);
    color: var(--server-nav-bar-active-text);
}

.server-nav-item:hover {
    background-color: var(--server-nav-bar-hover);
    /* color: var(--nav-bar-item-text); */
}

.nav-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

.nav-pull {
    display: none;
    transform: translateX(140%);
    right: 40px;
    top: 68px;
    background-color: var(--nav-bar);
}

.nav-overlay {
    visibility: hidden;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: visibility 300ms, opacity 300ms linear;
    opacity: 0;
}

.nav-push {
    display: none;
    height: 55px;
}

.lfm-filter-bar-item.server-selection {
    visibility: hidden;
}

@media (max-width: 600px) {
    .lfm-filter-bar-item.server-selection {
        visibility: visible;
    }
    .nav-bar {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .nav-dropdown {
        display: none !important;
    }
    .nav-icon-dropdown {
        display: none;
    }
    .nav-item,
    .nav-subitem {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        /* width: 165px; */
    }
    .nav-icon {
        margin: 0px;
        width: 30px;
        height: 30px;
    }
    .nav-item {
        overflow: hidden;
        flex: 1;
    }
    .nav-title {
        flex-direction: column;
    }
    .nav-push {
        display: block;
    }
    .nav-bar a {
        padding: 0px !important;
    }
    .nav-item a {
        width: 100%;
    }
    .content-table td:nth-child(3) {
        display: none;
    }
    .content-table th:nth-child(3) {
        display: none;
    }
    .content-table td:nth-child(5) {
        display: none;
    }
    .content-table th:nth-child(5) {
        display: none;
    }
    /* .nav-pull {
        display: block;
        position: absolute;
    }
    .nav-bar {
        z-index: 2;
        clip-path: polygon(
            0% 0%,
            165px 0%,
            165px 50px,
            calc(165px + 35px) 60px,
            calc(165px + 35px) 100px,
            165px 110px,
            165px 100%,
            0% 100%
        );
        width: 200px;
        position: fixed;
        flex-direction: column;
        top: 0px;
        left: 0px;
        height: 100%;
        justify-content: left;
        align-items: flex-start;
        transform: translateX(-167px);
        transition: transform 200ms ease-in-out;
        opacity: 0.85;
    }
    .nav-bar:hover {
        transform: translateX(0);
        opacity: 1;
    }
    .nav-bar:hover + .nav-overlay {
        visibility: visible;
        opacity: 0.3;
    }
    .nav-dropdown {
        display: none !important;
    }
    .nav-icon-dropdown {
        display: none;
    }
    .nav-item,
    .nav-subitem {
        display: flex;
        justify-content: left !important;
        align-items: left !important;
        width: 165px;
    } */
}

@media (max-width: 350px) {
    .nav-text {
        font-size: x-small;
    }
}

.content-table-container {
    overflow-y: scroll;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--gray5);
    width: 100%;
    height: 25rem;
}

.content-table-container.expanded {
    overflow-y: auto;
    height: auto;
}

.content-table {
    border-collapse: collapse;
    width: 100%;
}

.content-table td,
.content-table th {
    border: 1px solid var(--gray5);
    text-align: left;
    padding: 7px;
}

.content-table th {
    background-color: var(--card) !important;
    font-weight: bolder !important;
    font-size: larger;
}

.content-table tr:nth-child(odd) {
    background-color: var(--table-odd-rows);
}

.expand-content-table-button {
    position: absolute;
    bottom: 0px;
    transform: translateY(-70px);
    background-color: var(--filter-bar);
    padding-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 6px 2px var(--card-border);
}

.loading-data-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.input-radio-label {
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
    width: 100%;
}

.input-radio-label:hover {
    background-color: var(--filter-bar-hover) !important;
}

.input-radio {
    cursor: pointer;
    margin-right: 12px;
    margin-left: 4px;
    transition-property: background-color;
    transition-duration: 300ms;
}

.server-demographic-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.server-demographic-chart {
    margin-top: 10px;
    max-width: 600px;
    width: 100%;
}

.server-demographic-header {
    display: block;
}

@media (max-width: 1300px) {
    .server-demographic-container {
        flex-direction: column;
    }
    .server-demographic-chart {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        width: 100%;
        max-width: 100%;
    }
    .server-demographic-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        align-items: center;
        justify-content: center;
    }
}

hr {
    background-color: var(--card-border);
}

.mini-group {
    display: flex;
    flex-direction: column;
    background-color: var(--mini-group);
    box-shadow: 0px 0px 4px 1px var(--card-border);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 400ms;
}

.mini-group:hover {
    background-color: var(--mini-group-hover);
}

.lfm-filter-bar {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    background-color: var(--filter-bar);
}

.lfm-filter-bar-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    font-size: larger;
}

.lfm-filter-bar-item:hover {
    background-color: var(--filter-bar-hover);
}

@media (max-width: 500px) {
    .lfm-filter-bar-text {
        display: none;
    }
}

.filter-panel {
    z-index: 2;
    width: 100%;
    background-color: var(--card);
    border: var(--filter-bar);
    border-style: solid;
    border-top-style: none;
}

.filter-panel-overlay {
    z-index: 1;
    position: fixed;
    top: 40px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.filter-panel-group {
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    /* border-color: black;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid; */
    box-shadow: 0px 0px 4px 1px var(--text);
    /* margin-bottom: 15px; */
}

.filter-panel-group-options {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.filter-panel-group-option {
    cursor: pointer;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.slider-handle {
    position: absolute;
    margin-left: -15px;
    margin-top: 10px;
    z-index: 2;
    width: 30px;
    height: 30px;
    border: 0px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--slider-handle);
}

.slider-track {
    position: absolute;
    height: 10px;
    z-index: 1;
    margin-top: 20px;
    background-color: var(--slider-track);
    border-radius: 5px;
    cursor: pointer;
}

.slider-rail {
    position: absolute;
    width: 100%;
    height: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--slider-rail);
}

.grouping-raid-group-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (min-height: 600px) {
    .grouping-server-select-container {
        position: fixed;
        left: 0px;
        top: 95px;
        width: 100%;
        height: calc(100% - 160px);
    }
}

.grouping-server-select-container {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.grouping-subtitle-mobile {
    display: none;
}

.show-on-mobile {
    display: none;
}

.hide-on-mobile {
    display: flex;
}

.popup-message {
    font-size: 1.2rem;
    position: fixed;
    z-index: 100;
    background-color: var(--card);
    color: var(--text);
    box-shadow: 0px 0px 12px 0px var(--card-border);
    padding: 10px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: transform 200ms, opacity 200ms, visibility 100ms;
    visibility: hidden;
    min-width: 400px;
    cursor: pointer;
}

.popup-message.visible {
    visibility: visible;
    transform: translate(-50%, -20%);
}

.custom-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.custom-btn {
    border: 2px solid var(--text);
    color: var(--text);
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    font-size: 1.25rem;
    transition: background-color 200ms;
}

.custom-btn.disabled {
    border: 2px solid var(--text-disabled);
    color: var(--text-disabled);
}

.custom-btn.disabled {
    background-color: var(--card) !important;
}

.custom-btn:hover {
    background-color: var(--mini-group-hover);
}

@media (max-width: 600px) {
    .popup-message {
        bottom: auto;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 95%;
        min-width: 200px;
    }
    .popup-message.visible {
        visibility: visible;
        transform: translate(-50%, 10%);
    }
    body::-webkit-scrollbar {
        display: none;
    }
    body {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    body {
        overflow-x: hidden;
    }
    .show-on-mobile {
        display: flex;
    }
    .hide-on-mobile {
        display: none;
    }
    .card-link {
        display: none;
    }
    .grouping-raid-group-container {
        display: none;
    }
    .grouping-server-select-container {
        display: flex;
    }
    .grouping-snarky-message {
        display: none;
    }
    .grouping-extra-info {
        display: none;
    }
    .footer {
        display: none;
    }
    .grouping-subtitle {
        display: none;
    }
    .grouping-subtitle-mobile {
        display: block;
    }
    .mobile-title {
        display: none;
    }
    .lfm-filter-bar {
        position: fixed !important;
        top: 0px;
        left: 0px;
        width: 100%;
    }
    .lfm-canvas {
        margin-top: 14px;
    }
    .card.grouping {
        margin: 0px !important;
    }
}

@media (min-width: 600px) {
    .filter-panel-overlay {
        display: none !important;
    }
}

.server-select-option {
    color: var(--text) !important;
    display: flex;
    flex-direction: row;
    background-color: var(--mini-group);
    box-shadow: 0px 0px 4px 1px var(--card-border);
    padding: 1px 10px 1px 10px;
    margin: 5px 10px 5px 10px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 400ms;
    align-items: center;
    flex: 1;
    text-decoration: none !important;
}

.server-select-option:hover {
    background-color: var(--mini-group-hover);
}

@media (max-height: 600px) {
    .server-select-option {
        padding: 10px 10px 10px 10px;
    }
}
