:root {
    --white: #ffffff;
    --gray1: #f4f4f8;
    --gray2: #e6e6ea;
    --gray3: #b1b1b4;
    --gray4: #979797;
    --gray5: #737375;
    --gray6: #4f4f50;
    --gray7: #39393a;
    --gray8: #232324;
    --gray9: #141414;
    --black: #000000;

    --blue1: #01b5f1;
    --blue2: #0094c6;
    --blue3: #1e669c;
    --blue4: #2a4a63;
    --blue5: #b8cbd1;
    --blue6: #90c2d3;

    --link1: #00e1ff;
    --link2: #004b7c;

    --orange1: #ff6c00;
    --orange2: #b1461f;
    --orange3: #bb7900;
    --orange4: #ed9a00;

    --red1: #ff0000;

    --green1: #00ff00;
    --green2: #00ca00;
    --green3: #272a27;
    --green4: #deeede;

    --purple1: #864186;
    --purple2: #703970;
    --purple3: #493149;
    --purple4: #504253;
    --purple5: #4f2c57;
}

.light-theme {
    --bg: var(--white);
    --card: var(--white);
    --card-border: #5baeb1;
    --shadow: var(--gray2);
    --text: var(--black);
    --text-link: var(--link2);
    --text-player-number: blue;
    --text-lfm-number: var(--orange2);
    --text-disabled: var(--gray3);
    --text-faded: var(--gray6);
    --text-xfaded: var(--gray3);
    --text-slight-green: var(--green3);

    --red-text: var(--red1);
    --green-text: var(--green2);
    --blue-text: #0026d1;

    --table-odd-rows: var(--gray2);
    --table-highlight: var(--gray3);

    --link-icon-invert: 100%;
    --link-icon-inverted: 0%;
    --expandable-gradient: 255, 255, 255;

    --server-nav-bar: var(--blue5);
    --server-nav-bar-hover: var(--blue2);
    --server-nav-bar-active: var(--blue3);
    --server-nav-bar-active-text: var(--white);
    --server-nav-bar-text: var(--black);

    --nav-bar: var(--gray7);
    --nav-bar-hover: var(--blue4);
    --nav-bar-active: var(--blue3);

    --filter-bar: var(--blue5);
    --filter-bar-sub: var(--blue6);
    --filter-bar-hover: var(--blue6);
    --filter-bar-active: var(--blue2);

    --mini-group: var(--gray1);
    --mini-group-lighter: var(--gray3);
    --mini-group-hover: var(--blue5);

    --slider-handle: var(--orange3);
    --slider-track: var(--orange4);
    --slider-rail: var(--gray4);
}

.dark-theme {
    --bg: var(--black);
    --card: var(--gray8);
    --card-darker: var(--gray9);
    --card-border: var(--purple1);
    --shadow: var(--gray5);
    --text: var(--white);
    --text-link: var(--link1);
    --text-player-number: var(--blue1);
    --text-lfm-number: var(--orange1);
    --text-disabled: var(--gray4);
    --text-faded: var(--gray3);
    --text-xfaded: var(--gray5);
    --text-slight-green: var(--green4);

    --red-text: var(--red1);
    --green-text: var(--green1);
    --blue-text: #00aaff;

    --table-odd-rows: var(--gray7);
    --table-highlight: var(--gray6);

    --link-icon-invert: 0%;
    --link-icon-inverted: 100%;
    --expandable-gradient: 0, 0, 0;

    --server-nav-bar: var(--blue4);
    --server-nav-bar-hover: var(--blue3);
    --server-nav-bar-active: var(--blue6);
    --server-nav-bar-active-text: var(--black);
    --server-nav-bar-text: var(--white);

    --nav-bar: var(--gray7); /*gray7*/
    --nav-bar-hover: var(--purple3);
    --nav-bar-active: var(--purple2);

    --filter-bar: var(--purple4);
    --filter-bar-sub: var(--purple5);
    --filter-bar-hover: var(--purple5);
    --filter-bar-active: var(--orange2);

    --mini-group: var(--gray7);
    --mini-group-lighter: var(--gray5);
    --mini-group-hover: var(--purple5);

    --slider-handle: var(--orange3);
    --slider-track: var(--orange4);
    --slider-rail: var(--gray4);
}

.light-theme .nav-icon.should-invert {
    filter: invert();
}
