:root {
    --white: #ffffff;
    --gray1: #f4f4f8;
    --gray2: #e6e6ea;
    --gray3: #b1b1b4;
    --gray4: #979797;
    --gray5: #737375;
    --gray6: #4f4f50;
    --gray7: #39393a;
    --gray8: #232324;
    --gray9: #141414;
    --black: #000000;
}

.light-theme {
    --bg: var(--white);
    --base: var(--gray1);
    --highlighted-1: var(--gray2);
    --highlighted-2: var(--gray3);

    --text: var(--black);
    --text-link: var(--link2);
    --text-player-number: blue;
    --text-lfm-number: var(--orange2);
    --text-disabled: var(--gray3);
    --text-faded: var(--gray6);
    --text-xfaded: var(--gray3);
    --text-slight-green: var(--green3);

    --table-odd-rows: var(--gray2);
    --table-highlight: var(--gray3);

    --server-nav-bar: var(--blue5);
    --server-nav-bar-hover: var(--blue2);
    --server-nav-bar-active: var(--blue3);
    --server-nav-bar-active-text: var(--white);
    --server-nav-bar-text: var(--black);

    --nav-bar: var(--gray7);
    --nav-bar-hover: var(--blue4);
    --nav-bar-active: var(--blue3);
}

.dark-theme {
    --bg: var(--black);
    --base: var(--gray8);
    --highlighted-1: var(--gray7);
    --highlighted-2: var(--gray6);

    --text: var(--white);
    --text-link: var(--link1);
    --text-player-number: var(--blue1);
    --text-lfm-number: var(--orange1);
    --text-disabled: var(--gray4);
    --text-faded: var(--gray3);
    --text-xfaded: var(--gray5);
    --text-slight-green: var(--green4);

    --table-odd-rows: var(--gray7);
    --table-highlight: var(--gray6);

    --server-nav-bar: var(--blue4);
    --server-nav-bar-hover: var(--blue3);
    --server-nav-bar-active: var(--blue6);
    --server-nav-bar-active-text: var(--black);
    --server-nav-bar-text: var(--white);

    --nav-bar: var(--gray7);
    --nav-bar-hover: var(--gray6);
    --nav-bar-active: var(--purple2);
}

.light-theme .nav-icon.should-invert,
.light-theme .nav-icon-large.should-invert {
    filter: invert();
}

a {
    color: var(--text-link);
}

body {
    font-family: "Times New Roman", Times, serif;
    background-color: var(--bg);
}

p {
    line-height: normal;
    font-size: large;
}

ul {
    line-height: normal;
    font-size: large;
}

hr {
    color: red;
}

.footer {
    position: absolute;
    z-index: 4;
    width: 100%;
    color: white;
    background-color: #333;
    margin-bottom: 0px;
    padding-top: 4px;
    padding-bottom: 6px;
}

#primary-button {
    padding: 10px 20px;
    background-color: rgb(233, 233, 233);
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow 250ms;
    font-size: larger;
    background-color: white;
    color: black;
    user-select: none;
}

#secondary-button {
    padding: 10px 20px;
    background-color: rgb(233, 233, 233);
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow 250ms;
    font-size: larger;
    border: 1px solid white;
    background-color: var(--gray8);
    color: white;
    user-select: none;
}

#primary-button:hover,
#secondary-button:hover {
    box-shadow: 0px 0px 10px 0px var(--white);
}

.report-issue-form {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    max-width: 800px;
    width: 95%;
    /*height: 200px;*/
    z-index: 100;
}

.popup-message {
    border-radius: 10px;
    font-size: 1.2rem;
    position: fixed;
    z-index: 100;
    background-color: var(--card);
    color: var(--text);
    box-shadow: 0px 0px 12px 0px black;
    padding: 10px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: transform 200ms, opacity 200ms, visibility 100ms;
    visibility: hidden;
    min-width: 400px;
    cursor: pointer;
}

.popup-message.visible {
    visibility: visible;
    transform: translate(-50%, -20%);
}

.custom-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.custom-btn {
    border: 2px solid var(--text);
    color: var(--text);
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    font-size: 1.25rem;
    transition: background-color 200ms;
}

.custom-btn.disabled {
    border: 2px solid var(--text-disabled);
    color: var(--text-disabled);
}

.custom-btn.disabled {
    background-color: var(--card) !important;
}

.custom-btn:hover {
    background-color: var(--mini-group-hover);
}

.card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    opacity: 0.7;
    right: 10px;
    padding: 5px 5px 5px 5px;
    line-height: 20px;
}
.card-link:hover {
    opacity: 1;
    text-decoration: underline;
}

#content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: var(--base);
    z-index: 4;
    position: relative;
    transition: background-color 250ms ease-in-out, color 350ms ease-in-out;
}

.content-cluster {
    margin: 0px 0px 50px 0px;
    padding: 0px 20px;
}

.content-cluster-options {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.content-option-title {
    color: var(--text);
    margin: 0px;
}

.content-option-description {
    color: var(--text-faded);
    font-size: larger;
    margin: 0px;
}

.population-number {
    color: var(--text-player-number);
}

.lfm-number {
    color: var(--text-lfm-number);
}

@media (max-width: 1000px) {
    .content-cluster-options {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .nav-box {
        width: 100%;
    }
}
