# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/
/node_modules
/____node_modules

# testing
/coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/api_v1/*
client/build/*
.env
bfg.jar
client/src/components/old/FetchServerStatus.js
client/src/components/old/GroupingSpecific.jsx
client/src/components/old/Home.jsx
client/src/components/old/Servers.jsx
client/src/components/old/ServerSpecific.jsx
client/src/components/dev/ActivityTesting.jsx
client/src/components/dev/levelDistribution.js

server/reports/Engagement/*
server/Monitor/Messenger.js
