.nav-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    height: 150px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 200ms;
}

.nav-box-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    margin-bottom: 5px;
}

.main-button {
    padding: 10px 20px;
    background-color: rgb(233, 233, 233);
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow 250ms;
    font-size: larger;
}

.main-button:hover {
    box-shadow: 0px 0px 10px 0px var(--white);
}

.nav-box:hover {
    background-color: var(--highlighted-1);
}

#content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: var(--base);
    z-index: 3;
    position: relative;
    padding-top: 50px;
    transition: background-color 250ms ease-in-out, color 350ms ease-in-out;
}

.content-cluster {
    margin: 0px 0px 50px 0px;
    padding: 0px 20px;
}

.content-cluster-options {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.content-option-title {
    color: var(--text);
    margin: 0px;
}

.content-option-description {
    color: var(--text-faded);
    font-size: larger;
    margin: 0px;
}

.server-status-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--text);
    font-size: large;
}

.server-status-indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1000px) {
    .content-cluster-options {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .nav-box {
        width: 100%;
    }
}
